.aboutSection {
	padding: 210px 0 100px;

	@media (max-width: 920px) {
		padding: 100px 0 100px;
	}	

	@media (max-width: 700px) {
		padding: 60px 0 50px;
	}

	.aboutInner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 40px;

		@media (max-width: 700px) {
			grid-template-columns: auto;
			justify-content: center;
			justify-items: center;
		}
	}

	.aboutFoto {
		height: 430px;

		@media (max-width: 700px) {
			padding-bottom: 50px;
		}
	}

	.aboutTitle {
		text-align: center;
		color: #000;
		margin-bottom: 40px;

		@media (max-width: 700px) {
			margin-bottom: 15px;
		}
	}

	.hardSkills, .softSkills {
		line-height: 34px;
	}

	.hardSkills {
		text-align: right;

		@media (max-width: 700px) {
			text-align: left;
		}
	}
}

.aboutText {
	padding: 100px 0;
	background-color: #fff;

	@media (max-width: 700px) {
		padding: 60px 0;
	}

	.textTitle {
		text-align: center;
		margin-bottom: 20px;
		color: #000;
	}

	.text {
		line-height: 30px;
		text-indent: 50px;
	}
}