.footer {
	background: linear-gradient(to right, #0000ff, #465eca);
	height: 100px;
	margin-top: auto;
	
	.footerInner {
		display: grid;
		grid-template-columns: auto auto;
		align-items: center;
    justify-content: space-between;
		height: 100px;

		.footerText {
			font-size: 20px;
			color: #fff;
		}

		.footerIcons {
			display: grid;
			grid-template-columns: auto auto auto;
			column-gap: 25px;
		}
	}
}