.technologySection {
	background-color: #fff;
	padding: 140px 0;

	@media (max-width: 960px) {
		padding: 70px 0;
	}

	.technologyTitle {
		padding-bottom: 20px;
		color: #000;
	}

	.technologyBlock {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
	}
}