body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #727272;
  background: linear-gradient(to right, #eeeff1, #f5f5f7);
	margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p, h1, h2 {
  margin: 0;
}

.App {
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__menu {
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 10%;
  text-decoration: none;
  color: #fff;
	transition: color .1s linear;

	&:hover, &:focus {
		color: #00d5e4;
	}
}

.active {
  color: #00d5e4;
}

ul {
	list-style-type: none;
	padding: 0;
}